<div class="hero">
    <div class="row">
    <div class="col-md-6">
<h1><span>this is ...!</span><br>place holder</h1>
    </div>
    <div id="animtype" class="col-md-6">
      <h1 class="cd-headline letters type">
        <span class="text-left">this is animation</span>
        <br>
        <span class="cd-words-wrapper waiting">
          <b class="is-visible">Web Developer</b>
          <b>Tech fanatic</b>
          <b>Technopreneur</b>
          <b>African...</b>
        </span>
      </h1>
    </div>

    </div>



    <div class="mouse">
        <span></span>
    </div>

</div>
