<section id="career" class="content-block content-1-2">
  <div class="container">
    <!-- Start Row -->
    <div class="row">
      <div class="col-sm-6">
        <h2>Career and Education</h2>
        <p class="lead">Currently...</p>
        <p>
          Telematics Consultant - ENAiKOON GmbH <br>
          Digital Marketing & Web Dev - ginstr GmbH <br>
          Information Management and Information Technology - Humboldt University - Berlin
         </p>
        <div class="row">
          <div class="col-sm-5 col-xs-12">
            <a href="#" class="btn btn-block btn-primary">
              <span class="fa fa-cloud-upload"></span>
              Lebenslauf</a>
          </div>
          <div class="col-sm-5 col-xs-12">
            <a href="#" class="btn btn-block btn-warning">
              <span class="fa fa-check"></span>
              CV </a>
          </div>
        </div>
      </div>
      <div class="col-sm-5 col-sm-offset-1">
        <img class="img-rounded img-responsive" src="assets/dummy-1134x756-Rope.jpg">
      </div>
    </div>
    <!--// END Row -->
  </div>
</section>
