<section id="content-3-10" class="content-block-nopad content-3-10 bg-asbestos-hover">
  <div class="image-container col-sm-6 col-xs-12 pull-left">
    <div class="background-image-holder"></div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-6 col-xs-12 content">
        <h3>Still nothing to write</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        <a href="#" class="btn btn-outline btn-outline outline-dark">clickable</a>
      </div>
    </div>
    <!-- /.row-->
  </div>
  <!-- /.container -->
</section>
