<section id="content-1-1" class="content-block content-1-1 min-height-600px bg-black-hover">
  <div class="container text-center">
    <h1>Freedom of expression</h1>
    <div class="col-sm-8 col-sm-offset-2">
      <p class="lead">Magnis modipsae que lib voloratati andigen daepedor quiate ut reporemni aut labor. Laceaque quiae sitiorem ut restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta orem retibusam emnis et consent.</p>
    </div>
  </div>
</section>
