<div class="container-fluid">




  <div class="hero">
      <div class="row">
      <div class="col-md-6">
<h1><span>this is ...!</span><br>place holder</h1>
      </div>
      <div id="animtype" class="col-md-6">
        <h1 class="cd-headline letters type">
          <span class="text-left">this is animation</span>
          <br>
          <span class="cd-words-wrapper waiting">
            <b class="is-visible">Web Developer</b>
            <b>Tech fanatic</b>
            <b>Technopreneur</b>
            <b>African...</b>
          </span>
        </h1>
      </div>

      </div>



      <div class="mouse">
          <span></span>
      </div>

  </div>





<section id="philosophy" class="content-block content-1-2">
<div class="row">
  <div class="col-md-5 col-md-offset-1 col-sm-6">
    <img class="img-responsive" src="assets/Menu.jpg">
  </div>

  <div class="col-md-5 col-sm-6">
    <h3>Philosophy</h3>
    <blockquote cite="https://de.linkedin.com/in/federicoquintas/en">
      Software engineering is not only about code and architecture, but also growing as a team and as an organization.
    </blockquote>
      <br>

    </p>
  </div>
</div>
</section>




<section id="career" class="content-block content-1-2">
  <div class="container">
    <!-- Start Row -->
    <div class="row">
      <div class="col-sm-6">
        <h2>Career and Education</h2>
        <p class="lead">Currently...</p>
        <p>
          Telematics Consultant - ENAiKOON GmbH <br>
          Digital Marketing & Web Dev - ginstr GmbH <br>
          Information Management and Information Technology - Humboldt University - Berlin
         </p>
        <div class="row">
          <div class="col-sm-5 col-xs-12">
            <a href="#" class="btn btn-block btn-primary">
              <span class="fa fa-cloud-upload"></span>
              Lebenslauf</a>
          </div>
          <div class="col-sm-5 col-xs-12">
            <a href="#" class="btn btn-block btn-warning">
              <span class="fa fa-check"></span>
              CV </a>
          </div>
        </div>
      </div>
      <div class="col-sm-5 col-sm-offset-1">
        <img class="img-rounded img-responsive" src="assets/dummy-1134x756-Rope.jpg">
      </div>
    </div>
    <!--// END Row -->
  </div>
</section>




<section id="content-3-10" class="content-block-nopad content-3-10 bg-asbestos-hover">
  <div class="image-container col-sm-6 col-xs-12 pull-left">
    <div class="background-image-holder"></div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-6 col-xs-12 content">
        <h3>Still nothing to write</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        <a href="#" class="btn btn-outline btn-outline outline-dark">clickable</a>
      </div>
    </div>
    <!-- /.row-->
  </div>
  <!-- /.container -->
</section>
<section id="content-1-6" class="content-1-6 content-block">
  <div class="container">
    <div class="row text-center">
      <h2>My current projects</h2>
    </div>
    <!--end of row-->
    <div class="row client-row">
      <div class="row-wrapper">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <img alt="client" src="assets/dummy-1134x756-Rope.jpg">
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <img alt="client" src="images/partner-logos/logo-less.png">
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <img alt="client" src="images/partner-logos/logo-sass.png">
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <img alt="client" src="images/partner-logos/logo-jquery.png">
        </div>
      </div>
    </div>
    <!-- /.row -->

    <!-- Only delete this to enable second row

    <div class="row client-row">
      <div class="row-wrapper">
        <div class="col-md-3 hidden-sm hidden-xs">
          <img alt="client" src="images/partner-logos/logo-grunt.png">
        </div>
        <div class="col-md-3 hidden-sm hidden-xs">
          <img alt="client" src="images/partner-logos/logo-bower.png">
        </div>
        <div class="col-md-3 hidden-sm hidden-xs">
          <img alt="client" src="images/partner-logos/logo-yeoman.png">
        </div>
        <div class="col-md-3 hidden-sm hidden-xs">
          <img alt="client" src="images/partner-logos/logo-angularjs.png">
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>












<section id="content-1-1" class="content-block content-1-1 min-height-600px bg-black-hover">
  <div class="container text-center">
    <h1>Freedom of expression</h1>
    <div class="col-sm-8 col-sm-offset-2">
      <p class="lead">Magnis modipsae que lib voloratati andigen daepedor quiate ut reporemni aut labor. Laceaque quiae sitiorem ut restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta orem retibusam emnis et consent.</p>
    </div>
  </div>
</section>



<section id="content-2-10" class="content-2-10 content-block">
  <div class="container bg-white border-box">
    <div class="col-md-8 col-xs-12 pull-left">
      <h2>to some random site</h2>
    </div>
    <div class="col-md-3 col-xs-12 pull-right">
      <a href="#" class="btn btn-lg btn-info btn-block">More Info</a>
    </div>
  </div>
</section>



</div>
